export PHX_HOST="your-phx-host.domain"
export PORT="4004"
export SERVER_URL_HTTP="https://${PHX_HOST}:${PORT}"
export SERVER_URL_HTTPS="https://${PHX_HOST}:$(($PORT + 1))"
export SERVER_URL_HTTP_TEST="https://${PHX_HOST}:$(($PORT + 2))"
export SERVER_URL_HTTPS_TEST="https://${PHX_HOST}:$(($PORT + 3))"
