PHX_HOST="localhost"
PORT=4000

SECRET_KEY_BASE="your_secret_key_base"
DATABASE_URL="ecto://postgres:postgres@localhost/todo_list"

AWS_REGION="us-east-1"
AWS_ACCESS_KEY="YOUR_AWS_ACCESS_KEY"
AWS_SECRET="YOUR_AWS_SECRET"
