#!/bin/bash

echo "# shellcheck disable=SC2034

# phoenix
PHX_HOST=\"${PHX_HOST:-localhost}\"
PORT=\"${PORT:-4000}\"
SECRET_KEY_BASE=\"${SECRET_KEY_BASE:-$(openssl rand -base64 48)}\"

# db
DATABASE_URL=\"${DATABASE_URL:-ecto://postgres:postgres@localhost/todo_list}\"
POSTGRES_DB=\"${POSTGRES_DB:-todo_list}\"
POSTGRES_USER=\"${POSTGRES_USER:-postgres}\"
POSTGRES_PASSWORD=\"${POSTGRES_PASSWORD:-postgres}\"

# # email
# AWS_REGION=\"${AWS_REGION:-us-east-1}\"
# AWS_ACCESS_KEY=\"${AWS_ACCESS_KEY:-your_aws_access_key}\"
# AWS_SECRET=\"${AWS_SECRET:-your_aws_secret}\""
