<div :if={@changeset.action == :insert}>
  <.form_error_alert />
</div>

<.simple_form :let={f} for={@changeset} action={~p"/todos"}>
  <.input field={{f, :content}} type="text" label="Content" required />
  <.input field={{f, :is_completed}} type="checkbox" label="Is completed?" />
  <:actions>
    <.form_button_cancel />
    <.form_button_submit />
  </:actions>
</.simple_form>

<.action_links items={[
  %{content: "Return to Todos", navigate: ~p"/todos"}
]} />
