<section class="prose">
  <ul class="list-none">
    <li>
      <span class="font-bold">Content:</span>
      <%= @todo.content %>
    </li>
    <li>
      <span class="font-bold">Is Completed?</span>
      <%= (@todo.is_completed && "Yes") || "No" %>
    </li>
  </ul>
</section>

<.action_links items={[
  %{content: "Update this Todo", href: ~p"/todos/#{@todo}/edit"},
  %{content: "View all Todos", href: ~p"/todos"}
]} />
