@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "tippy.js/dist/tippy.css";

@layer base {
  /* Alpine.JS */
  [x-cloak] {
    display: none !important;
  }

  [x-tooltip] {
    user-select: none;
  }

  /* DaisyUI */
  :root {
    --animation-btn: 0;
  }

  a.btn {
    color: unset !important;
  }

  /* misc */
  a {
    color: hsl(var(--p)) !important;
    font-weight: bold !important;
  }
}

@layer components {
  /* DaisyUI */
  .btn * {
    background-color: unset !important;
  }

  /* misc */
  .action-links {
    margin-top: 3rem;
  }

  .action-links > * {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
}

@layer utility {
  .flex-center {
    justify-content: center;
    align-items: center;
  }

  .mt-child-0 > * {
    margin-top: 0;
  }
  .mt-child-1 > *:not(:first-child) {
    margin-top: 0.25rem;
  }
  .mt-child-2 > *:not(:first-child) {
    margin-top: 0.5rem;
  }
  .mt-child-3 > *:not(:first-child) {
    margin-top: 1rem;
  }
}
