@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "tippy.js/dist/tippy.css";
@import "toastify-js/src/toastify.css";

/*** BASE ***/
/* toastify-js */
.toastify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 17rem;
  min-height: 3rem;
  padding: 0.5rem 0;
  padding-left: 0.75rem;
  border-radius: 0.25rem;
}

/*
.toastify.on {
  opacity: 0;
  pointer-events: none;
}
*/

.toastify.on:nth-child(1) {
  opacity: 0.9;
  pointer-events: initial;
}

.toastify.on:nth-child(2) {
  opacity: 0.75;
  pointer-events: initial;
}

.toastify.on:nth-child(3) {
  opacity: 0.5;
  pointer-events: initial;
}

.toastify.on:hover {
  opacity: 1;
}

.toast-close {
  padding: 0.75rem 1rem;
  opacity: 0.8;
  transition: opacity 0.25s;
}

.toast-close:hover {
  opacity: 0.25;
}

.toast-text {
  text-align: center;
}

@layer base {
  /* alpinejs */
  [x-cloak] {
    display: none !important;
  }

  [x-tooltip] {
    user-select: none;
  }

  input {
    /* fixme: this section will not be necessary after improving default styles
       for input components */
    color: #222;
  }

  /* daisyui */
  :root {
    --animation-btn: 0; /* disable button 'pop' effect during initial render */
  }

  /* phoenix */
  [data-phx-main] {
    height: 100%;
  }

  /* misc */
  a:not(.btn) {
    color: hsl(var(--a)) !important;
    font-weight: bold;
  }
}

@layer components {
  /* DaisyUI */
  .btn * {
    background-color: unset !important;
  }

  .btn:hover {
    opacity: 0.9;
  }

  .dropdown-content {
    border: 2px solid hsl(var(--nc));
  }

  /* misc */
  .action-links {
    margin-top: 3rem;
  }

  .action-links > li {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }

  .h-content {
    height: calc(100vh - 10rem);
  }

  .template-center {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@layer utility {
  .flex-center {
    justify-content: center;
    align-items: center;
  }

  .list-back {
    list-style-type: "<";
  }

  .list-dash {
    list-style-type: "- ";
  }

  .mt-child-0 > * {
    margin-top: 0;
  }
  .mt-child-1 > *:not(:first-child) {
    margin-top: 0.25rem;
  }
  .mt-child-2 > *:not(:first-child) {
    margin-top: 0.5rem;
  }
  .mt-child-3 > *:not(:first-child) {
    margin-top: 0.75rem;
  }
  .mt-child-4 > *:not(:first-child) {
    margin-top: 1rem;
  }
}
