<section class="template-center">
  <ul class="text-2xl">
    <li>
      <.link class="w-full btn btn-lg btn-primary" href={~p"/todos/live"}>
        View Todos (Live)
      </.link>
    </li>
    <li>
      <.link class="w-full mt-6 btn btn-lg btn-primary" href={~p"/todos"}>
        View Todos (Basic)
      </.link>
    </li>
  </ul>
</section>
