<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" - Todo List">
      <%= assigns[:page_title] || "" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script phx-track-static type="text/javascript" src={~p"/assets/init.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="min-h-screen bg-base-100 antialiased" x-data>

    <!-- search engine text (bing) -->
    <div style="display: none">A todo list made with Phoenix LiveView.</div>

    <!-- noscript text -->
    <noscript>
      <h1 style="text-align: center">Please enable Javascript to view this website.</h1>
    </noscript>

    <.navbar>
      <:user_action_menu_items>
        <%= if @current_user do %>
          <li>
            <.link navigate={~p"/users/profile"}>Your profile</.link>
          </li>
          <li>
            <.link href={~p"/users/log_out"} method="delete">Logout</.link>
          </li>
        <% else %>
          <li>
            <.link navigate={~p"/users/register"}>Register</.link>
          </li>
          <li>
            <.link navigate={~p"/users/log_in"}>Login</.link>
          </li>
        <% end %>
      </:user_action_menu_items>
    </.navbar>
    <!-- inner content -->
    <main>
      <h1 class="mt-4 text-4xl text-center font-bold">
        <%= assigns[:page_title] || "" %>
      </h1>
      <h2 class="text-2xl text-center">
        <%= assigns[:page_subtitle] || "" %>
      </h2>
      <div class="container mx-auto">
        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
