<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <!-- title -->
    <.live_title suffix=" - Todo List">
      <%= assigns[:page_title] || "Todo List" %>
    </.live_title>

    <!-- css -->
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <!-- js -->
    <script phx-track-static type="text/javascript" src={~p"/assets/init.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body
    class="h-full bg-base-100 antialiased"
    data-platform={TemplateHelpers.detect_platform(@conn)}
    x-data="$store.components.body"
    x-title="body"
  >
    <section>
      <!-- utility -->
      <div style="display: none">
        <!-- search engine text (bing) -->
        A todo list made with Phoenix LiveView.
      </div>

      <noscript>
        <!-- noscript text -->
        <h1 class="py-4 text-3xl bg-gray-700 text-white text-center">
          Please enable Javascript to view this website.
        </h1>
      </noscript>
    </section>

    <section x-show="$store.globals.platformIsWeb">
      <!-- navbar -->
      <.navbar>
        <:user_action_menu_items>
          <%= if @current_user do %>
            <li>
              <.link href={~p"/users/profile"}>Your profile</.link>
            </li>
            <li>
              <.link href={~p"/users/log_out"}>Log out</.link>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"}>Register</.link>
            </li>
            <li>
              <.link href={~p"/users/log_in"}>Log in</.link>
            </li>
          <% end %>
        </:user_action_menu_items>
      </.navbar>
    </section>

    <section>
      <!-- flash messages -->
      <.flash kind={:error} title="Error!" flash={@flash} />
      <.flash kind={:info} title="Info" flash={@flash} />
      <.flash
        id="disconnected"
        kind={:error}
        title="Lost connection to server"
        close={false}
        autoshow={false}
        phx-disconnected={show_with_delay("#disconnected")}
        phx-connected={hide("#disconnected")}
      >
        Attempting to reconnect <Heroicons.arrow_path class="ml-1 w-3 h-3 inline animate-spin" />
      </.flash>
    </section>

    <section
      id="toast-container"
      @phx:toast-show.window="(evt) => $store.toasts.show(evt.detail)"
      @phx:toast-show-primary.window="(evt) => $store.toasts.showPrimary(evt.detail)"
      @phx:toast-show-secondary.window="(evt) => $store.toasts.showSecondary(evt.detail)"
      @phx:toast-show-accent.window="(evt) => $store.toasts.showAccent(evt.detail)"
      @phx:toast-show-neutral.window="(evt) => $store.toasts.showNeutral(evt.detail)"
      @phx:toast-show-info.window="(evt) => $store.toasts.showInfo(evt.detail)"
      @phx:toast-show-success.window="(evt) => $store.toasts.showSuccess(evt.detail)"
      @phx:toast-show-warning.window="(evt) => $store.toasts.showWarning(evt.detail)"
      @phx:toast-show-error.window="(evt) => $store.toasts.showError(evt.detail)"
    >
      <!-- toasts -->
    </section>

    <section>
      <!-- title/subtitle -->
      <template x-if="$store.globals.platformIsFlutter">
        <!-- utility - flutter -->
        <div class="h-12" x-show="!$store.globals.platformIsWeb">
          &nbsp; <!-- navbar placeholder so flash messages don't block the title on flutter -->
        </div>
        <div x-data x-init="() => {
            // alert('hello!');
          }"></div>
      </template>

      <section class="mb-8">
        <h1 class="mt-4 text-4xl text-center font-bold">
          <%= assigns[:page_title] || "" %>
        </h1>

        <h2 class="mt-2 text-2xl text-center">
          <%= assigns[:page_subtitle] || "" %>
        </h2>
      </section>
    </section>

    <div class="h-content mx-auto px-4 container">
      <%= @inner_content %>
    </div>
  </body>
</html>
