<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <!-- title -->
    <.live_title suffix=" - Todo List">
      <%= assigns[:page_title] || "Todo List" %>
    </.live_title>
    <!-- css -->
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <!-- js -->
    <script phx-track-static type="text/javascript" src={~p"/assets/init.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body
    class="flex flex-col h-full bg-base-200 antialiased"
    data-user-is-authenticated={(@conn.assigns[:current_user] && "true") || "false"}
    x-data="$store.components.body"
    x-title="body"
  >
    <!-- utility -->
    <section>
      <div style="display: none">
        <!-- search engine text (bing) -->
        A todo list made with Phoenix LiveView.
      </div>

      <noscript>
        <!-- noscript text -->
        <h1 class="py-4 text-3xl bg-gray-700 text-white text-center">
          Please enable Javascript to view this website.
        </h1>
      </noscript>
    </section>

    <!-- toasts -->
    <section id="toast-container" x-data="$store.components.toastContainer" />

    <.navbar>
      <:user_action_menu_items>
        <%= if @current_user do %>
          <li>
            <.link href={~p"/users/profile"}>Your profile</.link>
          </li>
          <li>
            <.link href={~p"/users/logout"}>Log out</.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"}>Register</.link>
          </li>
          <li>
            <.link href={~p"/users/login"}>Log in</.link>
          </li>
        <% end %>
      </:user_action_menu_items>
    </.navbar>

    <section class="grow flex flex-col bg-base-100">
      <!-- content -->
      <section>
        <section class="mb-8">
          <h1 class="mt-6 text-4xl text-center font-bold">
            <%= assigns[:page_title] || "" %>
          </h1>

          <h2 class="mt-2 text-2xl text-center">
            <%= assigns[:page_subtitle] || "" %>
          </h2>
        </section>
      </section>

      <div class="grow flex flex-col max-w-4xl mx-auto mb-20 container px-4 md:px-20">
        <%= @inner_content %>
      </div>

      <.footer />
    </section>
  </body>
</html>
