---
services:
  prometheus:
    image: "docker.io/prom/prometheus:v2.44.0"
    restart: "always"
    network_mode: "host"
    volumes:
      - "prometheus:/etc/prometheus"
      - "./etc/${PROMETHEUS_CONFIG_FILE:-prometheus.yml}:/etc/prometheus/prometheus.yml"

volumes:
  prometheus:
