<section class="flex flex-center flex-col h-full mt-12 mx-auto prose">
  <h3>Welcome to the Todo List API Client!</h3>
  <p class="italic">Powered by Phoenix LiveView</p>
  <div class="action-links">
    <h3>
      <a href="/todos">View your Todos</a>
    </h3>
  </div>
</section>
