<section class="h-full flex flex-center flex-col h-full text-center">
  <ul class="mt-child-4 text-2xl">
    <li>
      <.link class="w-full btn btn-lg" href={~p"/todos/live"}>View Enhanced Todos</.link>
    </li>
    <li>
      <.link class="w-full btn btn-lg" href={~p"/todos"}>View Basic Todos</.link>
    </li>
  </ul>
</section>
