  <ul class="no-prose">
    <li>Email: <%= @current_user.email %></li>
  </ul>

<section class="prose">
  <h3 class="mt-8">Actions</h3>

  <ul>
    <li>
      <.link navigate={~p"/users/settings"}>
        Update your profile
      </.link>
    </li>
    <li>
      <.link navigate={~p"/users/log_out"}>
        Log out
      </.link>
    </li>
  </ul>
</section>
